/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 120%;
}
/* Style général */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 120%;
}

/* MENU DE NAVIGATION */
.navbar {
  background-color: #333;
  padding: 0.5em 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  display: block;
}

.navbar a:hover,
.navbar a.active {
  background-color: #555;
  border-radius: 5px;
}

/* CONTENU DE LA PAGE */
main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* QUIZ */
.quiz-container {
  margin-top: 2em;
}

.question {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.answers button {
  display: block;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  font-size: 1.3em;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.answers button:hover {
  background-color: #ccc;
}

button.correct {
  background-color: #4CAF50 !important;
  color: white;
}

button.wrong {
  background-color: #f44336 !important;
  color: white;
}
table {
  border-collapse: collapse;
  width: 60%;
  margin-bottom: 40px;
  background-color: #ffffff;
}
th, td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #dcdde1;
}
  